.main-footer {
  .wrapper {
    padding-top: 66px;
    padding-right: 13px;
    padding-bottom: 63px;
    padding-left: 13px;

    border-top: 1px solid #dddddd;
  }

  .brand {
    font-family: "Georgia", serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .nav-link {
    margin-right: 16px;

    color: #6e6e6e;
    font-family: "Georgia", serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .nav-link:hover {
    color: #000000;
    text-decoration: none;
  }
}

.social {
  p {
    margin-right: 24px;
    margin-bottom: 0;

    font-family: "Georgia", serif;
    font-size: 14px;
    line-height: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;  
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.social-link {
  margin-left: 27px;

  svg path {
    fill: #6e6e6e;
  }
}

.social-link-fb:hover {
  svg path {
    fill: #3b5998;
  }
}

.social-link-tw:hover {
  svg path {
    fill: #55acee;
  }
}

@media (min-width: 768px) {
  .social {
    justify-content: flex-end;
    align-items: flex-end;
  }
}